<!DOCTYPE html>
<html>
<head>
  <title>Code Review</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= stylesheet_link_tag    "codemirror", media: "all" %>
  <%= stylesheet_link_tag    "solarized", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script src="https://google-code-prettify.googlecode.com/svn/loader/prettify.js"></script>
  <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
  <script src="http://www.parsecdn.com/js/parse-1.2.12.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://google-code-prettify.googlecode.com/svn/loader/prettify.css">
  <link href='http://fonts.googleapis.com/css?family=Lato:100,400|Inconsolata|Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="http://jmblog.github.io/color-themes-for-google-code-prettify/css/themes/tomorrow.css">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  
</head>
<body>

<div class="main-content">
    <%= yield %>
</div>

<footer class="main">
    <div class="left">
        <div class="created-by">This app is extermely alpha. Created by <a href="http://twitter.com/_ty">@_ty</a>.</div>
    </div>
</footer>

<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    Parse.FacebookUtils.init({
        appId      : '1405004339737434', // Facebook App ID
        channelUrl : '//channel.html', // Channel File
        cookie     : true, // enable cookies to allow Parse to access the session
        xfbml      : true  // parse XFBML
      });

    // Additional initialization code such as adding Event Listeners goes here
  };

  // Load the SDK asynchronously
  (function(){
     // If we've already installed the SDK, we're done
     if (document.getElementById('facebook-jssdk')) {return;}

     // Get the first script element, which we'll use to find the parent node
     var firstScriptElement = document.getElementsByTagName('script')[0];

     // Create a new script element and set its id
     var facebookJS = document.createElement('script'); 
     facebookJS.id = 'facebook-jssdk';

     // Set the new script's source to the source of the Facebook JS SDK
     facebookJS.src = '//connect.facebook.net/en_US/all.js';

     // Insert the Facebook JS SDK into the DOM
     firstScriptElement.parentNode.insertBefore(facebookJS, firstScriptElement);
   }());
</script>

<script type="text/javascript">
    $(function() {
        App.start();
    });
</script>

<script id="tpl-review-header" type="text/template">
      <div class="avatar">
          {{#avatarUrl}}
              <img src="{{avatarUrl}}" />
          {{/avatarUrl}}
      </div>
      <div class="username">{{name}}</div>
      <div class="meta">
          <div class="time">Created {{timestamp}}</div>
      </div>
      <div class="clearer"></div>
</script>

<script id="tpl-review-code" type="text/template">
    <div class="content">
          <header>
              <div class="filename">
                  {{filename}}
                  {{#typeName}}
                      <span class="type">({{typeName}})</span>
                  {{/typeName}}
              </div>
              <div class="admin">
                  <a class="edit">Edit</a>
                  <a class="delete">Delete</a>
              </div>
              <div class="clearer"></div>
          </header>
          <textarea>{{code}}</textarea>
      </div>
</script>

<script id="tpl-review-comments" type="text/template">
    <h1>Comments</h1>
    <div class="list"></div>
    {{#showNoComments}}
        <div class="no-comments">No comments yet.</div>
    {{/showNoComments}}
    <div class="new">
        <textarea placeholder="Write a new comment (wrap code in <pre> tags)..."></textarea>
        <a class="submit blue-btn">Post Comment</a>
    </div>
</script>

<script id="tpl-review-comment" type="text/template">
    <div class="avatar">
        <img src="{{avatarUrl}}" />
    </div>
    <div class="username">{{username}} says:</div>
    <div class="content">
        {{{content}}}
        <div class="timestamp">{{timestamp}}</div>
    </div>
    <div class="delete">X</div>
    <div class="clearer"></div>
</script>

<script id="tpl-main-header" type="text/template">
    <a href="/" class="logo">Code Review</a>
    {{#showBackButton}}
        <div class="left">
            <a href="{{backButtonUrl}}" class="back-button">< Back</a>
        </div>
    {{/showBackButton}}
    <div class="right-old" style="display:none">
        {{#loggedIn}}
            <a class="username">Hello, {{username}}.</a>
        {{/loggedIn}}
        {{^loggedIn}}
            <a class="login">Login</a>
        {{/loggedIn}}
    </div>
    <div class="right">
      Hello. <a href="#" class="app">Download the OSX App</a>
    </div>
</script>

<script id="tpl-new-review" type="text/template">
    <h1>New Reivew</h1>
    <input type="text" name="filename" placeholder="Filename" />
    <!--<select name="type">
        <option disabled selected>Choose language</option>
        <option value="2">Javascript</option>
        <option value="1">Ruby</option>
        <option value="3">Other</option>
    </select>-->
    <textarea placeholder="Code"></textarea>
    <div class="info">
        Notice: All submited reviews are public. Anyone with the unique URL will be able to view your code.
    </div>
    <a class="submit blue-btn">Submit Review</a>
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45744403-1', 'reviewmycode.herokuapp.com');
  ga('send', 'pageview');
</script>

</body>
</html>
